#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        a {
            bindings = <&mkp RCLK>;
            key-positions = <17 18>;
            layers = <0>;
            require-prior-idle-ms = <20>;
            timeout-ms = <20>;
        };

        aa {
            bindings = <&bt BT_CLR>;
            key-positions = <38 30>;
            timeout-ms = <20>;
            require-prior-idle-ms = <20>;
            layers = <4>;
        };
    };

    macros {
        kore: pass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N) &kp S &kp O &kp C &kp C &kp E &kp R &kp H>;
            label = "PASS";
        };
    };

    behaviors {
        a_shift: a_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "A_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
            flavor = "tap-preferred";
        };

        mid: mid {
            compatible = "zmk,behavior-hold-tap";
            label = "MID";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            flavor = "tap-preferred";
            bindings = <&mkp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q                  &kp W         &kp E                &kp R             &kp T                                              &kp Y          &kp U      &kp I       &kp O       &kp P
  &a_shift LEFT_SHIFT A  &kp S         &kp D                &lt 4 F           &a_shift LCTRL G                                   &kp H          &mkp LCLK  &mid MB3 K  &mkp RCLK   &kp ENTER
  &kp Z                  &kp X         &kp C                &kp V             &kp B                                              &kp N          &kp M      &kp COMMA   &kp PERIOD  &kp MINUS
  &kp LG(LEFT)           &kp LEFT_ALT  &mt LEFT_WIN ESCAPE  &lt 1 LANGUAGE_2  &lt 5 INT_KANA    &lt 3 F10  &mt INT_HENKAN SPACE  &kp BACKSPACE                                     &kp RG(RIGHT)
            >;
        };

        symbol_layer {
            bindings = <
  &kp QUESTION      &trans         &kp INT_YEN  &trans  &trans                    &kp PERCENT    &kp RS(INT_RO)  &trans         &trans  &kp EQUAL
  &kp LEFT_BRACKET  &kp LG(LS(S))  &kp DOLLAR   &trans  &trans                    &kp PAGE_UP    &kp J           &kp LS(EQUAL)  &kp L   &trans
  &trans            &trans         &trans       &trans  &kp EXCL                  &kp PAGE_DOWN  &trans          &trans         &trans  &trans
  &trans            &trans         &trans       &trans  &trans    &trans  &trans  &kp DEL                                               &trans
            >;
        };

        scroll_layer_not {
            bindings = <
  &kp TAB         &trans     &kp UP_ARROW    &kp LC(C)  &kp LC(V)                     &kp FSLH   &kp N7  &kp N8  &kp N9  &kp RS(APOS)
  &kp LEFT_SHIFT  &kp LEFT   &kp DOWN_ARROW  &kp RIGHT  &kp LCTRL                     &kp MINUS  &kp N4  &kp N5  &kp N6  &kp KP_PLUS
  &kp LC(Z)       &kp LC(X)  &kp LC(C)       &kp LC(V)  &kp DEL                       &kp DOT    &kp N1  &kp N2  &kp N3  &kp APOS
  &trans          &trans     &trans          &trans     &trans     &trans  &kp UNDER  &kp N0                             &kp KP_NUMLOCK
            >;
        };

        mouse_layer {
            bindings = <
  &trans  &trans  &trans  &trans  &trans                  &trans         &trans     &trans     &trans     &trans
  &trans  &trans  &trans  &trans  &trans                  &kp PAGE_UP    &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans
  &trans  &trans  &trans  &trans  &trans                  &kp PAGE_DOWN  &trans     &trans     &trans     &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                          &trans
            >;
        };

        function_layer {
            bindings = <
  &trans     &trans  &trans  &trans  &trans                  &trans      &kp F7  &kp F8  &kp F9  &kore
  &kp LC(Z)  &trans  &trans  &trans  &trans                  &bt BT_PRV  &kp F4  &kp F5  &kp F6  &kp RC(Y)
  &trans     &trans  &trans  &trans  &trans                  &bt BT_NXT  &kp F1  &kp F2  &kp F3  &trans
  &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans                              &trans
            >;
        };

        scroll_layer {
            bindings = <
  &kp TAB         &trans         &kp UP_ARROW    &kp LC(C)        &kp LC(V)                     &kp SLASH   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RS(APOS)
  &kp LEFT_SHIFT  &kp LEFT       &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LCTRL                     &kp MINUS   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp KP_PLUS
  &kp LC(Z)       &kp LC(EQUAL)  &kp LC(C)       &kp LC(V)        &kp DEL                       &kp PERIOD  &kp N1        &kp NUMBER_2  &kp NUMBER_3  &kp APOS
  &trans          &trans         &trans          &trans           &trans     &trans  &kp UNDER  &kp N0                                                &kp KP_NUMLOCK
            >;
        };

        snipe_layer {
            bindings = <
  &trans  &trans  &trans  &trans  &bootloader                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans                          &trans
            >;
        };

        customizable_layer {
            bindings = <
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };

        layer_8 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };
    };
};
